input {
    outline: none;
    border: none;
    /* border-bottom: 2px solid grey; */
    transition: .5s;
}

input:focus {
    border-bottom: 2px solid #3399ff;
}

.paymentContainer {
    /* border: 2px solid black; */
    display: none;
    flex-direction: column;
    width: 35vw;
    margin: auto;
    position: relative;
    top: 7vh;
    align-items: center;
    border-radius: 2px 2px;
}

.paymentContainer .amountDisclaimer {
    /* background-color: rgb(171, 171, 171); */
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.paymentContainer .optionsHeader {
    margin: 20px 0px;
}

.paymentContainer .toCompletion {
    border: 1px solid black;
    margin: 10px 0px;
    transition: .5s;
    height: 50px;
    width: 100%;
}

.paymentContainer .toCompletion:hover {
    color: white;
    background-color: black;
}

.paymentContainer .optionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paymentContainer .optionDiv>label {
    margin: 0px 5px;
}

.paymentContainer .cardDetailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labels {
    font-size: larger;
}


.paymentContainer .cardDetailsDiv>* {
    margin: 5px 0px;
}
 

.paymentContainer .upiDiv,
.cardDiv {
    margin: 2px 0px;
}

.cardDiv,
.upiDiv {
    padding-top: 0px;
    padding: 40px;
    border: 2px solid black;
}